<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="bookfooter" id="footer" class="container-fluid align-content-center">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4 mt-4 mb-4">
      <p style="font-family: sans-serif !important;">Subscribe to <bold>BookStore Newsletter</bold></p>
      <h3>Get Our Monthly Update</h3>
      <small>directly in your email</small>
      <input type="email" placeholder="email" class="input"><a href="" class="btn btn-outline-primary ms-2">Subscribe</a>
    </div>

    <div class="col-md-4"></div>

  </div>
</div>

</body>
</html>